@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

/*styling*/
body {
	font-family: arial, helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
header {
	font-family: Notable;
	letter-spacing:2px;
	word-spacing:5px;
	text-align: center;
	padding:0.1em;
	background-color: #f7f5bc;
	color: #565656;
}
#hamburgerNav a#home:active,#hamburgerNav a#product:active,#hamburgerNav a#pricing:active,#hamburgerNav a#contact:active {
	background-color:rgb(137,122,39);
	color:#000;
	}
#hamburgerNav a.active {
	background-color:rgb(137,122,39);
	color:#000;
}
#hamburgerNav a:hover {
	background-color:#F6EB61;
	color:#000;
	}
#logo {
	margin-left:auto;
	margin-right:auto;
	width:4%;
	width:50px;
	height:50px;
}
ul li {
	padding: 0.3em;
}
.articleInnovation {
	font-size: 0.9em;
}

table, th {
	font-weight:bold;
	border:solid 2px black;
	padding:0.3em;
}
table, td {
	text-align:center;
	border:dashed 2px #FFFF00;
}
table {
	border:double 5px black;
}
.headerWrapper {
	text-align:center;
}
.headerWrapper ul {
	list-style-type:none;
}
figcaption {
	font-size:0.6em;
	float:right;
}
.articles img {
	height: 200px;
	width: 300px;
	float:right;
}
.articles {
	text-align:left;
}
.copyrightWrapper {
	color: #000;
	background-color: #f7f5bc;
	text-align: center;
	height:10%;
}
.cookiesWrapper {
	color:#FFF;
	background-color:#FA0;
	opacity:0.5;
	border:solid 1px black;
	text-align:center;
	width:auto;
	bottom:0;
	right:0;
	position:fixed;
	z-index:9999;
}
.videoWrapper {
	display: flex;
	justify-content: center;
	background-color: #000;
}
.videoWrapper video{
	width:35%;
}
article {
	line-height:110%;
	text-indent:5px;
	padding:5px;
	overflow:hidden;
	border: double 4px black;
}
aside {
	border: solid 4px black;
	color: #1b8839;
	padding: 5px;
	font-size: 1.5em;
}
fieldset {
	height:100%;
	width:auto;
}
input[type=text], [type=email], textarea {
	width:95%;
	padding:8px;
	margin:8px;
	text-indent:5px;
}
textarea {
	height:200px;
}
	

	
/*layouts*/
/* layout for pc */
@media screen and (min-width:1279px) {
	body {
		display:flex;
		flex-flow:column nowrap;
	}
	#hamburgerNav {
		overflow: hidden;
		background-color: rgb(255,199,44);
	}
	#hamburgerNav a{
		background-color:rgb(255,199,44);
		color:#000;
		text-align:center;
		font-size:1em;
		text-decoration:none;
		padding: 0.3em;
	}
	#hamburgernav label, [type=checkbox], #hamburger{
		display: none;
	}
	.headerWrapper {
		display:flex;
		flex-flow:column wrap;
	}
	.videoWrapper {
		width:100%;
	}
	.mainWrapper {
		display:flex;
		flex-flow:row-reverse wrap;
		justify-content:space-between;
		height:80%;
		width:100%;
	}
	.articles {
		width:70%;
	}
	.side {
		width:28%;
	}
	.footerWrapper {
		height:5px;
		display:flex;
		flex-flow:row nowrap;
		overflow:hidden;
	}
	
	/*layout voor product pagina*/
	.imagesProduct img {
		width:450px;
		height:400px;
	}
	.imagesProduct, img {
		display:grid;
		grid-template-columns:[img1]33% [img2] 34% [img3] 33%;
		width:auto;
		height:auto;
	}
	.articleOne {
		grid-area: grid2 / grid2 / grid14 / grid14;
	}
	.articleTwo {
		grid-area:grid1 / grid1 / grid7 / grid7;
	}
	.articleThree {
		grid-area:grid3 / grid3 / grid9 / grid9;
	}
	.articleFour {
		grid-area:grid12/ grid12 / grid15 / grid15;
	}
	.articleFive {
		grid-area:grid10 / grid10 / grid19 / grid19;
	}
	.articleSix {
		grid-area:grid17 / grid17 / grid21 / grid21;
	}
	
	.productWrapper {
		display:grid;
		grid-template:
		[row1-start] "grid1 grid2 grid3" 10% [row1-end]
		[row2-start] "grid4 grid5 grid6" 10% [row2-end]
		[row2-start] "grid7 grid8 grid9" 20% [row2-end]
		[row2-start] "grid10 grid11 grid12" 20% [row2-end]
		[row2-start] "grid13 grid14 grid15" 20% [row2-end]
		[row2-start] "grid16 grid17 grid18" 10% [row2-end]
		[row2-start] "grid19 grid20 grid21" 10% [row2-end]
		/ 40% 35% 25%;

	}
	.imagesProduct {
		width:auto;
		height:400px;
	}
	.imagesProduct img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.imageOne {
		grid-area: gridOne;
	}
	.imageTwo {
		grid-area: gridTwo;
	}
	.imageThree {
		grid-area: gridThree;
	}
	.imagesProduct {
		display:grid;
		grid-template:
		[row1-start]"gridOne gridTwo gridThree"100% [row1-end]
		/40% 35% 25%;
	}
	
	/* layout voor pricing */
	.pricing {
		display:grid;
		height:700px;
		width:100%;
		grid-template:
		[row1-start]"grid1 grid2 grid3" 20%[row1-end]
		[row2-start]"grid4 grid5 grid6" 30%[row2-end]
		[row3-start]"grid7 grid8 grid9" 20%[row3-end]
		[row4-start]"grid10 grid11 grid12" 20%[row4-end]
		[row5-start]"grid13 grid14 grid15" 10%[row5-end]
		/40% 25% 35%;
	}
	.articleInnovation {
		grid-area:grid1 / grid1 / grid3 / grid3;
	}
	.pricingTable {
		width:100%;
		grid-area:grid4 / grid4 / grid11 / grid11;
	}
	.tableCopyright {
		grid-area:grid13 / grid13 / grid 14 / grid14;
	}
	.imagesPricing {
		grid-area:grid6 / grid6 / grid12 / grid12;
	}
	.imagesPricing img {
		width:auto;
		height:150px;
		margin-left:auto;
		margin-right:auto;
	}
	
	/*For Contact page*/
	.contact {
		display:grid;
		height:80%;
		width:100%;
		grid-template:
		[row1-start]"grid1 grid2 grid3" 20%[row1-end]
		[row2-start]"grid4 grid5 grid6" 20%[row2-end]
		[row3-start]"grid7 grid8 grid9" 20%[row3-end]
		[row4-start]"grid10 grid11 grid12" 20%[row4-end]
		[row5-start]"grid13 grid14 grid15" 20%[row5-end]
		/40% 25% 35%;
	}
	.contactWelcome {
		grid-area: grid1/ grid1/ grid3/ grid3;
	}
	.contactForm {
		grid-area:grid4 / grid4 / grid14 / grid14;
	}
	.imagesContact img {
		margin-left:30%;
		margin-right:40%;
		height:170px;
		width:auto;
	}
	.imagesContact {
		height:auto;
		grid-area:grid6 / grid6 / grid15 / grid15;
	}
}


/*layout for tablet */
@media all and (min-width:482px) and (max-width:1279px) {
	body {
		display:flex;
		flex-flow:column nowrap;
	}
	#hamburgerNav {
	overflow: hidden;
	background-color: rgb(255,199,44);
	}
	#hamburgerNav a{
	background-color:rgb(255,199,44);
	color:#000;
	text-align:center;
	font-size:1em;
	text-decoration:none;
	padding: 0.3em;
	}
	#hamburgernav label, #hamburger {
		display: none;
	}
	.headerWrapper {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
	}
	.mainWrapper {
		display:flex;
		flex-flow:column nowrap;
	}
	.side {
		order:1;
	}
	.videoWrapper {
		order:2;
	}
	.articles {
		order:3;
	}
	
	/*layout voor product pagina*/
	.productWrapper {
		display:grid;
	}
	.articleOne {
		font-size:0.8em;
		grid-area: grid1 / grid1 / grid3 / grid3;
	}
	.articleTwo {
		grid-area:grid2 / grid2 / grid6 / grid6;
	}
	.articleThree {
		grid-area:grid5 / grid5 / grid11 / grid11;
	}
	.articleFour {
		display:none;
	}
	.articleFive {
		grid-area:grid8 / grid8 / grid12 / grid12;
	}
	.articleSix {
		font-size:0.8em;
		grid-area:grid13 / grid13 / grid16 / grid16;
	}
	
	.productWrapper {
		display:grid;
		grid-template:
		[row1-start] "grid1 grid2" 20% [row1-end]
		[row2-start] "grid3 grid4" 10% [row2-end]
		[row3-start] "grid5 grid6" 10% [row3-end]
		[row4-start] "grid7 grid8" 20% [row4-end]
		[row5-start] "grid9 grid10" 10% [row5-end]
		[row6-start] "grid11 grid12" 10% [row6-end]
		[row7-start] "grid13 grid14" 10% [row7-end]
		[row8-start] "grid15 grid16" 10% [row8-end]
		/ 50% 50%;
	}
	
	/*images*/
	.imagesProduct {
		width:auto;
		height:auto;
	}
	.imagesProduct img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.imageOne {
		grid-area: gridOne;
	}
	.imageTwo {
		grid-area: gridTwo;
	}
	.imageThree {
		display:none;
	}
	.imagesProduct {
		display:grid;
		grid-template:
		[row1-start]"gridOne gridTwo gridThree"100% [row1-end]
		/50% 50%;
	}
	
	/* layout voor pricing */
	.pricing {
		display:grid;
		height:700px;
		width:100%;
		grid-template:
		[row1-start]"grid1 grid2 grid3" 30%[row1-end]
		[row2-start]"grid4 grid5 grid6" 20%[row2-end]
		[row3-start]"grid7 grid8 grid9" 15%[row3-end]
		[row4-start]"grid10 grid11 grid12" 15%[row4-end]
		[row5-start]"grid13 grid14 grid15" 20%[row5-end]
		/50% 25% 25%;
	}
	.articleInnovation {
		grid-area:grid1 / grid1 / grid3 / grid3;
	}
	.pricingTable {
		width:100%;
		grid-area:grid4 / grid4 / grid9 / grid9;
	}
	.tableCopyright {
		grid-area:grid10 / grid10 / grid12 / grid12;
	}
	.imagesPricing img {
		width:15%;
		height:120px;
		float:left;
	}
	.imageTwoPricing {
		grid-area: grid13;
	}
	.imageThreePricing {
		grid-area: grid15;
	}
	.imageOnePricing {
		display:none;
	}
	.imagesPricing {
		grid-area:grid13 / grid13/ grid15 / grid15;
		height:auto;
		width:auto;
	}
	
	/*For Contact page*/
	.contact {
		display:grid;
		height:700px;
		width:auto;
		grid-template:
		[row1-start]"grid1 grid2 grid3" 20%[row1-end]
		[row2-start]"grid4 grid5 grid6" 20%[row2-end]
		[row3-start]"grid7 grid8 grid9" 20%[row3-end]
		[row4-start]"grid10 grid11 grid12" 20%[row4-end]
		[row5-start]"grid13 grid14 grid15" 20%[row5-end]
		/40% 25% 35%;
	}
	.contactWelcome {
		grid-area: grid1/ grid1/ grid3/ grid3;
	}
	.contactForm {
		height:auto;
		grid-area:grid4 / grid4 / grid14 / grid14;
	}
	.contactForm, fieldset {
		height:auto;
	}
	.imagesContact img {
		margin-left:20%;
		margin-right:auto;
		height:175px;
		width:auto;
	}
	.imagesContact {
		height:auto;
		grid-area:grid6 / grid6 / grid15 / grid15;
	}
	
}

/*layout for mobile*/
@media screen and (max-width:482px){
	body {
		display:flex;
		flex-flow:column nowrap;
	}
	.headerWrapper {
		display:flex;
		flex-flow:row nowrap;
		border:solid 5px black;
	}
	header {
		width:100%;
	}
	#hamburgerNav {
		background-color: rgb(255,199,44);
	}
	#hamburgerNav a{
		background-color:rgb(255,199,44);
		color:#000;
		font-size:0.8em;
		text-decoration:none;
		padding:0.5em;
	}
	#hamburgerItems {
		box-sizing:border-box;
		display:block;
		width:30%;
	}
	#hamburgerNav label {
		display:inline-block;
		color:black;
		padding:10px;
	}
	#hamburgerItems {
		display:none;
	}
	#hamburgerNav input:checked ~ #hamburgerItems {
		display:block;
	}
	.articles {
		display:flex;
		flex-flow:column-reverse nowrap;
		font-size:0.8em;	
	}
	figcaption {
		font-size:0.8em;
	}
	aside {
		width:auto;
		font-size:0.8em;
	}
	.videoWrapper {
		display:none;
	}
	video {
		display:none;
	}
	.copyrightWrapper {
		text-align:left;
	}
	
	/*layout voor product pagina*/
	.articleOne {
		grid-area:grid19 / grid19 / grid22 / grid22;
	}
	.articleTwo {
		grid-area:grid13 / grid13 / grid17 / grid17;
	}
	.articleThree {
		grid-area:grid7 / grid7 / grid11 / grid11;
	}
	.articleFour {
		display:none;
	}
	.articleFive {
		grid-area:grid1 / grid1 / grid5 / grid5;
	}
	.articleSix {
		display:none;
	}
	
	.productWrapper {
		display:grid;
		grid-template:
		[row1-start] "grid1 grid2" 15% [row1-end]
		[row2-start] "grid4 grid5" 10% [row2-end]
		[row3-start] "grid7 grid8" 13% [row3-end]
		[row4-start] "grid10 grid11" 10% [row4-end]
		[row5-start] "grid13 grid14" 15% [row5-end]
		[row6-start] "grid16 grid17" 10% [row6-end]
		[row7-start] "grid19 grid20" 15% [row7-end]
		[row8-start] "grid21 grid22" 12% [row8-end]
		/ 50% 50%;

	}
	.imagesProduct {
		width:auto;
		height:750px;
	}
	.imagesProduct img {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}
	.imageOne {
		grid-area: gridOne;
	}
	.imageTwo {
		grid-area: gridTwo;
	}
	.imageThree {
		grid-area:gridThree;
	}
	.imagesProduct {
		display:grid;
		grid-template:
		[row1-start]"gridOne"33% [row1-end]
		[row2-start]"gridTwo"33% [row2-end]
		[row3-start]"gridThree"33% [row3-end]
		/100%;
	}
	
	/* layout voor pricing */
	.pricing {
		display:grid;
		height:700px;
		width:auto;
		grid-template:
		[row1-start]"grid1 grid2 grid3" 30%[row1-end]
		[row2-start]"grid4 grid5 grid6" 20%[row2-end]
		[row3-start]"grid7 grid8 grid9" 10%[row3-end]
		[row4-start]"grid10 grid11 grid12" 20%[row4-end]
		[row5-start]"grid13 grid14 grid15" 20%[row5-end]
		/40% 25% 35%;
	}
	.articleInnovation {
		display:none;
	}
	.pricingTable {
		width:100%;
		grid-area:grid1 / grid1 / grid6 / grid6;
	}	
	.tableCopyright {
		grid-area:grid7/ grid7 / grid9 / grid9;
	}
	.imagesPricing img {
		width:100px;
		height:75px;
		margin-left:30%;
		margin-right:40%;
	}
	.imagesPricing {
		height:auto;
		grid-area:grid10 / grid10 / grid15 / grid15;
	}
	
	/*For Contact page*/
	.contact {
		display:grid;
		height:1100px;
		width:auto;
		grid-template:
		[row1-start]"grid1 grid2 grid3" 20%[row1-end]
		[row2-start]"grid4 grid5 grid6" 20%[row2-end]
		[row3-start]"grid7 grid8 grid9" 20%[row3-end]
		[row4-start]"grid10 grid11 grid12" 20%[row4-end]
		[row5-start]"grid13 grid14 grid15" 20%[row5-end]
		/40% 25% 35%;
	}
	.contactWelcome {
		grid-area: grid1/ grid1/ grid3/ grid3;
	}
	input[type=text], [type=email], textarea {
		margin:3px;
		width:96%;
	}
	.contactForm {
		height:auto;
		grid-area:grid4 / grid4 / grid9 / grid9;
	}
	.imagesContact {
		height:auto;
		grid-area:grid10 / grid10 / grid15 / grid15;
	}
	.contactForm, fieldset {
		height:auto;
	}
	.imagesContact img {
		margin-left:35%;
		margin-right:auto;
		height:120px;
		width:auto;
	}
}