@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

/*styling*/
body {
	font-family: arial, helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
header {
	font-family: Notable;
	letter-spacing:2px;
	word-spacing:5px;
	text-align: center;
	background-color: #f7f5bc;
	color: #000;
}
#logo {
	width:3em;
}
ul li {
	padding: 0.3em;
}
nav {
	overflow: hidden;
	background-color: rgb(255,199,44);
}
nav a {
	background-color:rgb(255,199,44);
	color:#000;
	text-align:center;
	font-size:1em;
	text-decoration:none;
	padding: 0.3em;
}
nav a#active{
	background-color:rgb(137,122,39);
	color:#000;
}
nav a:hover {
	background-color:#F6EB61;
	color:#000;
}
figcaption {
	font-size:0.6em;
	float:right;
}
.headerWrapper {
	text-align:center;
}
.headerWrapper ul {
	list-style-type:none;
}
.articles img {
	height: 200px;
	width: 300px;
	float:right;
}
.copyrightWrapper {
	color: #000;
	background-color: #f7f5bc;
	text-align: center;
}
.cookiesWrapper {
	color:#FFF;
	background-color:#FA0;
	opacity:0.5;
	border:solid 2px black;
	text-align:center;
	position:fixed;
}
.videoWrapper {
	display: flex;
	justify-content: center;
	background-color: #000;
}
.videoWrapper video{
	width:35%;
}
article {
	line-height:110%;
	text-indent:5px;
	padding:5px;
	overflow:hidden;
	border: double 4px black;
}
aside {
	border: solid 5px black;
	color: #1b8839;
	padding: 5px;
	font-size: 1.5em;
}

	

	
/*layouts*/
/* layout for pc */
@media screen and (min-width:1279px) {
	body {
		display:flex;
		flex-flow:column nowrap;
	}
	#hamburgerNav {
		display: none;
	}
	.headerWrapper {
		display:flex;
		flex-flow:column nowrap;
	}
	.videoWrapper {
		display:flex;
		justify-content:center;
	}
	.imagesProduct img {
		width:450px;
		height:400px;
	}
	.imagesProduct, img {
		display:grid;
		grid-template-columns:[img1]33% [img2] 34% [img3] 33%;
		width:auto;
		height:auto;
	}
	.articles {
		width:70%;
	}
	.mainWrapper {
		display:flex;
		flex-flow:row-reverse nowrap;
	}
	aside {
		height: 97.7%;
	}
	.footerWrapper {
		display:flex;
		flex-flow:row nowrap;
		overflow:hidden;
	}
	.copyrightWrapper {
		width:100%;
		justify-content:center;
	}
	.cookiesWrapper {
		width: 20%;
		justify-content: center;
		align-self: flex-end;
	}
	/*layout voor product pagina*/
	.articleOne {
		grid-area: grid2 / grid2 / grid14 / grid14;
	}
	.articleTwo {
		grid-area:grid1 / grid1 / grid7 / grid7;
	}
	.articleThree {
		grid-area:grid3 / grid3 / grid9 / grid9;
	}
	.articleFour {
		grid-area:grid12/ grid12 / grid15 / grid15;
	}
	.articleFive {
		grid-area:grid10 / grid10 / grid19 / grid19;
	}
	.articleSix {
		grid-area:grid17 / grid17 / grid21 / grid21;
	}
	
	.productWrapper {
		display:grid;
		grid-template:
		[row1-start] "grid1 grid2 grid3" 10% [row1-end]
		[row2-start] "grid4 grid5 grid6" 10% [row2-end]
		[row2-start] "grid7 grid8 grid9" 20% [row2-end]
		[row2-start] "grid10 grid11 grid12" 20% [row2-end]
		[row2-start] "grid13 grid14 grid15" 20% [row2-end]
		[row2-start] "grid16 grid17 grid18" 10% [row2-end]
		[row2-start] "grid19 grid20 grid21" 10% [row2-end]
		/ 40% 35% 25%;

	}
	.imagesProduct img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.imageOne {
		grid-area: gridOne;
	}
	.imageTwo {
		grid-area: gridTwo;
	}
	.imageThree {
		grid-area: gridThree;
	}
	.imagesProduct {
		display:grid;
		grid-template:
		[row1-start]"gridOne gridTwo gridThree"100% [row1-end]
		/40% 35% 25%;
	}
}


/*layout for tablet */
@media all and (min-width:482px) and (max-width:1179px) {
	body {
		display:flex;
		flex-flow:column nowrap;
	}
	#hamburgerNav {
		display:none;
	}
	.headerWrapper {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
	}
	.tabletWrapper {
		display:flex;
		flex-flow: column-reverse nowrap; /* stukkie wukkie? */
	}
	aside {
		width:auto;
	}
	.articles {
		display:flex;
		flex-flow:column-reverse nowrap;
	}
	.footerWrapper {
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;
	}

	.copyrightWrapper {
		width: 100%;
		justify-content: center;
	}

	.cookiesWrapper {
		width: 20%;
		justify-content: center;
		align-self: flex-end;
	}
	.productWrapper {
		display:grid;
	}
	
	/*layout voor product pagina*/
	.articleOne {
		font-size:0.8em;
		grid-area: grid1 / grid1 / grid3 / grid3;
	}
	.articleTwo {
		grid-area:grid2 / grid2 / grid6 / grid6;
	}
	.articleThree {
		grid-area:grid5 / grid5 / grid11 / grid11;
	}
	.articleFour {
		display:none;
	}
	.articleFive {
		grid-area:grid8 / grid8 / grid12 / grid12;
	}
	.articleSix {
		font-size:0.8em;
		grid-area:grid13 / grid13 / grid16 / grid16;
	}
	
	.productWrapper {
		display:grid;
		grid-template:
		[row1-start] "grid1 grid2" 20% [row1-end]
		[row2-start] "grid3 grid4" 10% [row2-end]
		[row3-start] "grid5 grid6" 10% [row3-end]
		[row4-start] "grid7 grid8" 20% [row4-end]
		[row5-start] "grid9 grid10" 10% [row5-end]
		[row6-start] "grid11 grid12" 10% [row6-end]
		[row7-start] "grid13 grid14" 10% [row7-end]
		[row8-start] "grid15 grid16" 10% [row8-end]
		/ 50% 50%;
	}
	.imagesProduct img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.imageOne {
		grid-area: gridOne;
	}
	.imageTwo {
		grid-area: gridTwo;
	}
	.imageThree {
		display:none;
	}
	.imagesProduct {
		display:grid;
		grid-template:
		[row1-start]"gridOne gridTwo gridThree"25% [row1-end]
		/50% 50%;
	}
}

/*layout for mobile*/
@media screen and (max-width:482px){
	body {
		display:flex;
		flex-flow:column nowrap;
	}
	.headerWrapper {
		display:flex;
		flex-flow:row nowrap;
		border:solid 5px black;
	}
	header {
		width:100%;
	}
	.wide {
		display:none;
	}
	#hamburgerNav{
		width:25%;
	}
	#hamburgerItems a {
		box-sizing: border-box;
		display:block;
		width:auto;
	}
	#hamburgerNav label {
		display: inline-block;
		color: black;
		font-style:normal;
		padding:10px;
	}
	#hamburgerItems {
		display:none;
	}
	#hamburgerNav input:checked ~ #hamitems {
		display:block;
	}
	.articles {
		display:flex;
		flex-flow:column-reverse nowrap;
		font-size:0.8em;	
	}
	figcaption {
		font-size:0.8em;
	}
	aside {
		width:auto;
		font-size:0.8em;
	}
	.videoWrapper {
		display:none;
	}
	video {
		display:none;
	}
	.footerWrapper {
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;
	}

	.copyrightWrapper {
		font-size:0.5em;
		width: 100%;
		justify-content: center;
	}

	.cookiesWrapper {
		width: 20%;
		justify-content: center;
		align-self: flex-start;
	}
	
	/*layout voor product pagina*/
	.articleOne {
		grid-area:grid19 / grid19 / grid22 / grid22;
	}
	.articleTwo {
		grid-area:grid13 / grid13 / grid17 / grid17;
	}
	.articleThree {
		grid-area:grid7 / grid7 / grid11 / grid11;
	}
	.articleFour {
		display:none;
	}
	.articleFive {
		grid-area:grid1 / grid1 / grid5 / grid5;
	}
	.articleSix {
		display:none;
	}
	
	.productWrapper {
		display:grid;
		grid-template:
		[row1-start] "grid1 grid2" 10% [row1-end]
		[row2-start] "grid4 grid5" 10% [row2-end]
		[row3-start] "grid7 grid8" 10% [row3-end]
		[row4-start] "grid10 grid11" 20% [row4-end]
		[row5-start] "grid13 grid14" 10% [row5-end]
		[row6-start] "grid16 grid17" 10% [row6-end]
		[row7-start] "grid19 grid20" 10% [row7-end]
		[row8-start] "grid21 grid22" 10% [row8-end]
		/ 50% 50%;

	}
	.imagesProduct img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.imageOne {
		grid-area: gridOne;
	}
	.imageTwo {
		grid-area: gridTwo;
	}
	.imageThree {
		grid-area:gridThree;
	}
	.imagesProduct {
		display:grid;
		grid-template:
		[row1-start]"gridOne"33% [row1-end]
		[row2-start]"gridTwo"33% [row2-end]
		[row3-start]"gridThree"33% [row3-end]
		/50% 50%;
	}
	
}